#prod_container {
    display: grid;
    grid-template-columns: 30% 70%;
    position: relative;
    background-color: #f7f7f7;
    padding: 1% 1% .5% 1%;
}

#prod_container_cust {
    display: grid;
    grid-template-columns: 30% 50% 20%;
    position: relative;
    background-color: #f7f7f7;
    padding: 1% 1% .5% 1%;
}

 #prod_img {
    max-width: 100%;
 }
#prod_description {
    font-size: 1.5em;
    padding: 1% 1% 1% 1%;
}
#prod_price {
    position: absolute;
    bottom: 0;
    padding-left: 1%;
}
 #instructions {
    padding: 5% 1% 2% 1%;
    grid-column: span 3;
    font-size: 1em;
 }