{% macro display_form(form) -%}
    {% for field in form %}
        <div class="form_section">
            {{field.label}}
            {{field}}
        </div>
    {% endfor %}
{%- endmacro -%}

{% extends 'admin_form_base.html' %}

{% block title %}Log In{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}">
{% endblock %}

{% block content %}

    <div id="form_div">

        <div id="form_text">Log in to make changes</div>

        <form id="login" method="POST">
            {{ display_form(login_form) }}
        </form>

    {% for message in get_flashed_messages() %}
                <p class="message">{{ message }}</p>
            {% endfor %}

{% endblock %}