{% extends 'base.html' %}

{% block content %}

    <div id="form_div">

        <div id="form_text">{% block formtext %}{% endblock %}</div>
        <form method="POST" enctype="multipart/form-data">
        {% if form %}
            {% for field in form %}
                <div class="form_section">
                    {{field.label}}
                    {{field}}
                </div>
            {% endfor %}
        {% endif %}
        </form>
        
            {% for message in get_flashed_messages() %}
                <p class="message">{{ message }}</p>
            {% endfor %}
        
    </div>

{% endblock %}