<!doctype html>
<title>{% block title%}{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename = 'reset.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename = 'base.css') }}">
<nav>
    <h1>JandRCreations</h1>
    <ul>
        <li><a href="{{url_for('contact')}}">Contact Us</a></li>
    </ul>
</nav>
<section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}

</section>